/* App.css */

/* Class for the logo image */
.logo {
  width:  340px;  /* Set the width you prefer */
  height: auto;  /* Maintain the aspect ratio */
}

/* Optional: Style for the App container */
.App {
  text-align: center;
}

/* Optional: Style for the header section */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
